
/* The logdogDrawer (background) */
.logdogDrawer {
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* logdogDrawer Content */
.logdogDrawer-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

/* The Close Button */
#logdogDrawerClose {
  color: orange;
  font-size: 28px;
  font-weight: bold;
}

#logdogDrawerClose:hover,
#logdogDrawerClose:focus {
  color: orange;
  text-decoration: none;
  cursor: pointer;
}

.logdogDrawer-header {
  padding: 2px 0px 2px 2px;
  background-color: #777;
  color: white;
}

#logdogDrawerLogDisplayArea {
  max-height: 30vh;
  overflow-y: scroll;
  padding: 10px;
}

.logdogDrawer-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}


/* LOG SCROLL BAR CSS */

/* width */
#logdogDrawerLogDisplayArea::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#logdogDrawerLogDisplayArea::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
#logdogDrawerLogDisplayArea::-webkit-scrollbar-thumb {
  background: rgb(241, 184, 76); 
}

/* Handle on hover */
#logdogDrawerLogDisplayArea::-webkit-scrollbar-thumb:hover {
  background: orange; 
}


/* ---- LogDog Theme Toggle Switch ---- */

.logdog-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.logdog-switch input {
  display:none;
}

.logdog-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
  height: 25px;
  width: 50px;
}

.logdog-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 5px;
  bottom: 4px;
  background-color: #444;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.logdog-input:checked + .logdog-slider {
  background-color: #444;
}

.logdog-input:focus + .logdog-slider {
  box-shadow: 0 0 1px #2196F3;
}

.logdog-input:checked + .logdog-slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(21px);
  background-color: #fff;
}

.logdogDrawer-header-item{
  display: inline-block;
}

.logdogDrawer-header-item-start{
  width: 19%;
}

.logdogDrawer-header-item-mid{
  width: 60%;
}

.logdogDrawer-header-item-end{
  width: 19%;
}

/* LogDog Theme Mode */
.logdog-night-mode{
  background-color: #555 !important;
}
.logdog-night-mode *{
  color: #fff !important;
}

.logdog-day-mode{
  background-color: #fff !important;
}

.logdog-day-mode *{
  color: #555 !important;
}